body {
  background-color: #DDD;
  overflow: hidden;
}

.main {
  background-color: #fff;
  box-shadow: 0 0 15px #bbb;
  display: flex;
  margin: 120px auto;
  width: 800px;
}

.left {
  padding: 40px;
  width: 60%;
}

.right {
  padding: 40px;
  position: relative;
  width: 40%;
}

.right img {
  width: 100%;
}

.right .overlay {
  position: absolute;
}

.right .hat {
  top: -50vh;
  left: 110vw;
  transform: scale(.4) rotate(1000deg);
  transition: all .7s ease-in;
}

.right:hover .hat {
  top: -171px;
  transform: scale(.4) rotate(18deg);
  left: 14px;
}

.right .chain {
  top: 105vh;
  left: -8px;
  transform: scale(.4) rotate(16deg);
  transition: all .5s ease-in;
}

.right:hover .chain {
  top: 113px;
  transform: scale(.4) rotate(16deg);
}

.right .cigarette {
  top: 110vh;
  left: -110vw;
  transform: scale(.1) rotate(-10000deg);
  transition: all 1s ease-in;
}

.right:hover .cigarette {
  left: -28px;
  top: -3px;
  transform: scale(.1) rotate(0);
}

.right .glasses {
  top: -285px;
  transform: scale(.4);
  left: 20px;
  transition: top 2s linear;
}

.right:hover .glasses {
  top: 85px;
}

.right .snoop {
  top: 120px;
  transform: scale(.5);
  left: -158px;
  visibility: hidden;
  transition: all 0s linear 2s;
}

.right:hover .snoop {
  visibility: visible;
}